<smart-ecommerce-platform-loader *ngIf="isLoading"></smart-ecommerce-platform-loader>
<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (keyup.enter)="loginUser()">
  <input formControlName="email" type="text" placeholder="Email address" autocomplete="email" required>
  <input formControlName="password" type="password" placeholder="Password" autocomplete="current-password" required>
</form>
  <button [disabled]="loginForm.invalid" (click)="loginUser()">Login</button>
  <p>No account? 
  <a class="register-link" (click)="redirectToRegister()">Register here</a></p>
</div>