<smart-ecommerce-platform-loader *ngIf="isLoading"></smart-ecommerce-platform-loader>
<div class="login-container">
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotPasswordForm" (keyup.enter)="sendResetCode()">
    <input formControlName="email" type="email" placeholder="Enter your email" autocomplete="email" required>
  </form>
  <button [disabled]="forgotPasswordForm.invalid" (click)="sendResetCode()">Send Reset Code</button>
  <p>
    Remember your password? 
    <a class="register-link" (click)="redirectToLogin()">Go back to login</a>
  </p>
</div>

<div class="login-container">
  <h2>Enter reset code</h2>
  <form [formGroup]="resetCodeForm" (keyup.enter)="sendResetCode()">
    <input formControlName="email" type="email" placeholder="Enter your email" autocomplete="email" required>
  </form>
  <button [disabled]="forgotPasswordForm.invalid" (click)="sendResetCode()">Send Reset Code</button>
  <p>
    Remember your password? 
    <a class="register-link" (click)="redirectToLogin()">Go back to login</a>
  </p>
</div>