<div class="modal">
  <div class="modal-header">
    <h2 class="modal-title">{{ modalTitle }}</h2>
    <button class="close-btn" (click)="onClose()">×</button>
  </div>
  <div class="modal-content">
    <form [formGroup]="addProductForm" (keyup.enter)="onProceedClick()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" />
        <div *ngIf="isControlInvalid('name')" class="error">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="type">Type</label>
        <select id="type" formControlName="type">
          <option value="" disabled>Select product type</option>
          <option *ngFor="let type of typesDropdownSource" [value]="type">{{ type }}</option>
        </select>
        <div *ngIf="isControlInvalid('type')" class="error">
          Type is required.
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea id="description" name="description" formControlName="description"></textarea>
        <div *ngIf="isControlInvalid('description')" class="error">
          Enter a valid description.
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" id="price" name="price" formControlName="price" mask="separator.2" />
        <div *ngIf="isControlInvalid('price')" class="error">
          Valid price is required.
        </div>
      </div>
      <div class="form-group">
        <label for="review">Review</label>
        <input type="text" id="review" name="review" formControlName="review" mask="0"/>
        <div *ngIf="isControlInvalid('review')" class="error">
         Enter a valid review.
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="no-btn" (click)="onClose()">Cancel</button>
    <button class="predict-btn" (click)="onPredictClick()">Predict</button>
    <button class="proceed-btn" [disabled]="isFormInvalid()" (click)="onProceedClick()">
      Proceed
    </button>
  </div>
</div>
